.comment-form__row {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px 0;
}
.comment-form__row span{
    display: inline-block;
    margin: 10px 0;

}
.comment-form__row input{
    padding: 5px;
}
