.single-post {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
}
.single-post__image {
    max-height: 100%;
    max-width: 100%;
}
.single-post__image-wrapper {
    height: 200px;
}