.post {
    border: 1px solid #ccc;
    height: 200px;
    padding: 10px;
    display: flex;
    margin: 10px 0;
}
.post__info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}
.post__info span:nth-child(2) {
    margin-top: 30px;
}
.post__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.post__image-wrapper {
    height: 100%;
}